{% extends "base.html" %}

{% block body %}
<div class="text-center checklist-class">
    <h2 class="display-4 mb-4"><a href={{ url_for("index") }} style="cursor: pointer; text-decoration: none; color: black">Simple Checklist</a></h2>
    <p class="lead mb-2" style="text-align: left; font-size: 1.5rem; word-break: break-all;">{{name}}</p>
    <div class="progress mb-2" style="width: 90%; height: 11px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{percentage}}" aria-valuenow="{{percent_num}}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <ul style="margin-left: -25px; list-style-type: square; color: #004B62">
    {% for task in tasks %}
    <li style="text-align: left;" class="mb-1" onmouseover="show_remove_button('{{task.index}}');" onmouseout="hide_remove_button('{{task.index}}');" onclick="toggle_remove_button('{{task.index}}');">
        <form action="/checklist/process_task" method="post" id="formforTasks">
            <input type="hidden" value="{{name}}" name="checklist_name">
            <input type="hidden" value="{{task.name}}" name="task_name">
            {% if task.done %} 
                <span style="color: #212529;">
                    <p style="text-decoration: line-through; display: inline; font-family: Courier New; word-break: break-all;">
                        {{task.name}}
                    </p> 
                    <p style="display: inline; font-weight: bold; font-family: Courier New;" id="{{task.index + 'dots'}}"> 
                        <script type="text/javascript">
                            // computing number of dots needed
                            var widthofForm = document.getElementById("formforTasks").clientWidth;
                            // 11 for square, 45 for icons and 2*9.6 for two white spaces (Courier New default size)
                            var row_limit = Math.floor(widthofForm/ 9.6);   //characters which fit in one row
                            var char_limit = Math.floor((widthofForm - 44.38 - 9.6) / 9.6);   //characters who fit in one row with check-buttons
                            var len_name = '{{task.name}}'.length;
                            var num_rows = Math.floor(len_name / row_limit);
                            if(len_name % row_limit === 0){
                                num_rows = num_rows - 1
                            }
                            var len_dots = 0
                            if(len_name % row_limit === 0){
                                    len_dots = char_limit 
                            }else if(len_name < char_limit + row_limit * num_rows){
                                len_dots = char_limit + row_limit * num_rows - len_name -1;
                            } else if(len_name === char_limit + row_limit * num_rows){
                                len_dots = 0
                            } else if(len_name <= row_limit + row_limit * num_rows){
                                len_dots = row_limit + row_limit * num_rows - len_name + char_limit - 1           
                            }
                            var p_elem = document.getElementById("{{task.index + 'dots'}}");
                            var dots = "";
                            for(let i = 0; i < len_dots; i++){
                                dots = dots + "<wbr>" + "."
                            }
                            if(len_dots > 0){
                                p_elem.innerHTML = dots + "<wbr>";
                            }      
                        </script>
                    </p>
                </span>
                <input type="image" src="../static/task-checked.svg" name="check_button" alt="not done" width="28" height="28" style="outline: none; margin-left: -4px; margin-bottom: -10px;">
                <button type="submit" class="task_remove_button" name="task_remove_button" id="{{task.index}}" value= "X" style="outline: none; border: 0px; background-color: #f5f5f5; width: 15px;">
                    <img alt="X" src="../static/task-removed.svg" style="margin-left: -10px; margin-bottom: -1px;" width="22" height="22">
                </button>
            {% else %}
                <span style="color: #212529;">
                    <p style="display: inline; font-family: Courier New; word-break: break-all;">
                        {{task.name}} 
                    </p>
                    <p style="display: inline; font-weight: bold; font-family: Courier New;" id="{{task.index + 'dots'}}"> 
                        <script type="text/javascript">
                            // computing number of dots needed
                            var widthofForm = document.getElementById("formforTasks").clientWidth;
                            // 11 for square, 45 for icons and 2*9.6 for two white spaces (Courier New default size)
                            var row_limit = Math.floor(widthofForm/ 9.6);   //characters which fit in one row
                            var char_limit = Math.floor((widthofForm - 44.38 - 9.6) / 9.6);   //characters who fit in one row with check-buttons
                            var len_name = '{{task.name}}'.length;
                            var num_rows = Math.floor(len_name / row_limit);
                            if(len_name % row_limit === 0){
                                num_rows = num_rows - 1
                            }
                            var len_dots = 0
                            if(len_name % row_limit === 0){
                                    len_dots = char_limit 
                            }else if(len_name < char_limit + row_limit * num_rows){
                                len_dots = char_limit + row_limit * num_rows - len_name -1;
                            } else if(len_name === char_limit + row_limit * num_rows){
                                len_dots = 0
                            } else if(len_name <= row_limit + row_limit * num_rows){
                                len_dots = row_limit + row_limit * num_rows - len_name + char_limit - 1           
                            }
                            var p_elem = document.getElementById("{{task.index + 'dots'}}");
                            var dots = "";
                            for(let i = 0; i < len_dots; i++){
                                dots = dots + "<wbr>" + "."
                            }
                            if(len_dots > 0){
                                p_elem.innerHTML = dots + "<wbr>";
                            }     
                        </script> 
                    </p>
                </span>
                <input type="image" src="../static/task-unchecked.svg" name="check_button" alt="done" width="28" height="28" style="outline: none; margin-left: -4px; margin-bottom: -10px;">
                <button type="submit" class="task_remove_button" name="task_remove_button" id="{{task.index}}" value= "X" style="outline: none; border: 0px; background-color: #f5f5f5; width: 15px;">
                    <img alt="X" src="../static/task-removed.svg" style="margin-left: -10px; margin-bottom: -1px;" width="22" height="22">
                </button>
            {% endif %}
        </form>
    </li>
    {% endfor %}
    </ul>
    <form action="/checklist/add_task" method="post" id="createTaskForm" style="text-align: left;">
        <input type="hidden" name="name" value="{{name}}" id="checklistforTaskId">
        <div class="input-group">
            <input type="text" class="form-control mt-2" name="newTask" maxlength="150" id="newTaskId" placeholder="Task" required>
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary mt-2">add</button>
            </div>
        </div>
    </form>
    <div id="taskTakenDiv" style="display: none; color:red; text-align: left;">Task already added</div>
</div>
{% endblock %}