{% extends "base.html" %}

{% block body %}
<div class="text-center index-class">
        <img class="mb-2" src="/static/simple_checklist_logo.svg" alt="" width="115" height="115">
        <h2 class="mb-5 display-4"><a href={{ url_for("index") }} style="cursor: pointer; text-decoration: none; color: black">Simple Checklist</a></h2>
        <button type="button" class="btn-lg btn-outline-secondary mb-2" id="createButton">Create new Checklist</button> <br>
        <div id="formDiv" style="display: none;"></div>
        <form action="/search" id="searchForm" method="post">
        <!--<label>Search for created Checklist: </label><input type="text" name="search_text" id="search_text_id">-->
        <input type="text" class="form-control mb-2 align_placeholder" name="search_text" id="search_text_id" placeholder="Search for existing Checklist" autofocus="">
        </form>     
        <div id="searchReplyField"></div>
</div>
{% endblock %}